@page "/studentlabs/{UniqueId}/{RepositoryId}"
@inject HttpClient Http
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject AppDbContext DbContext
@using Microsoft.EntityFrameworkCore

@if (expirationDate.HasValue)
{
    <p>Lab geldig tot: @expirationDate.Value.ToString("dd-MM-yyyy HH:mm")</p>
}

<h1>Student Labs voor @RepositoryId</h1>

<div style="@(IsStudent ? "display: none;" : "")">
    <div class="sidebar">
        <NavLink href="/trainer">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Trainer
        </NavLink>
    </div>
</div>

@if (errorMessage != null)
{
    <p class="error">@errorMessage</p>
}
else if (filesAndFolders == null)
{
    <p><em>Student labs laden...</em></p>
}
else
{
    <select @onchange="OnSelectedFileChanged">
        <option value="">Selecteer een lab...</option>
        @foreach (var item in filesAndFolders)
        {
            if (item.Type == "dir")
            {
                <optgroup label="@item.Name">
                    @foreach (var subItem in item.SubItems)
                    {
                        <option value="@subItem.Path">@subItem.Name</option>
                    }
                </optgroup>
            }
            else
            {
                <option value="@item.Path">@item.Name</option>
            }
        }
    </select>

    @if (!string.IsNullOrEmpty(selectedFilePath))
    {
        <div class="markdown-content">
            @((MarkupString)markdownContent)
        </div>
    }
}

@code {
    [Parameter]
    public string UniqueId { get; set; }
    [Parameter]
    public string RepositoryId { get; set; }

    [Parameter]
    public bool IsStudent { get; set; } = true;

    private List<GitHubContent> filesAndFolders;
    private string errorMessage;
    private string selectedFilePath;
    private string markdownContent;
    private DateTime? expirationDate;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (await ValidateUniqueId())
            {
                var functionApiKey = Configuration["functionApiKey"];
                var apiUrl = $"https://m365labfunctions.azurewebsites.net/api/repositories/{RepositoryId}/labfiles?code={functionApiKey}";
                filesAndFolders = await GetGitHubContent(apiUrl);
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Fout bij het ophalen van lab inhoud: {ex.Message}";
            Console.WriteLine($"Fout bij het ophalen van lab inhoud: {ex.Message}");
        }
    }

    private async Task<bool> ValidateUniqueId()
    {
        var generatedLink = await DbContext.GeneratedLinks
            .FirstOrDefaultAsync(gl => gl.UniqueId == UniqueId && gl.RepositoryId == RepositoryId);

        if (generatedLink == null)
        {
            errorMessage = "Ongeldige link.";
            return false;
        }

        if (generatedLink.ExpirationDate < DateTime.Now)
        {
            errorMessage = "Link is verlopen.";
            return false;
        }

        expirationDate = generatedLink.ExpirationDate;
        return true;
    }

    private async Task<List<GitHubContent>> GetGitHubContent(string apiUrl)
    {
        var request = new HttpRequestMessage(HttpMethod.Get, apiUrl);
        var githubToken = Configuration["GitHubToken"];
        string branch = "master";
        if (RepositoryId == "MS-4010-Extend-Microsoft365-Copilot-declarative-agents-VS-Code")
        {
            branch = "main";
        }

        if (!string.IsNullOrEmpty(githubToken))
        {
            request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("token", githubToken);
        }

        request.Headers.Accept.Add(new System.Net.Http.Headers.MediaTypeWithQualityHeaderValue("application/vnd.github.v3+json"));

        request.Headers.UserAgent.Add(new System.Net.Http.Headers.ProductInfoHeaderValue("YourAppName", "1.0"));

        Console.WriteLine($"Request Headers: {request.Headers}");

        var response = await Http.SendAsync(request);

        if (!response.IsSuccessStatusCode)
        {
            errorMessage = $"Fout bij het ophalen van lab inhoud: {response.StatusCode} ({response.ReasonPhrase})";
            Console.WriteLine($"Fout bij het ophalen van lab inhoud: {response.StatusCode} ({response.ReasonPhrase})");
            return new List<GitHubContent>();
        }

        var responseContent = await response.Content.ReadAsStringAsync();
        Console.WriteLine($"API Response: {responseContent}");

        var responseData = System.Text.Json.JsonSerializer.Deserialize<List<GitHubContent>>(responseContent, new System.Text.Json.JsonSerializerOptions { PropertyNameCaseInsensitive = true });

        var result = new List<GitHubContent>();

        if (responseData != null)
        {
            foreach (var item in responseData)
            {
                if (item.Type == "dir")
                {
                    var subItems = await GetGitHubContent(item.Url.Replace("master", branch));
                    result.Add(new GitHubContent { Name = item.Name, Type = item.Type, SubItems = subItems, Url = item.Url });
                }
                else if (item.Name.EndsWith(".md"))
                {
                    result.Add(new GitHubContent { Name = item.Name.Replace(".md", ""), Path = item.Path, Type = item.Type });
                }
            }
        }

        return result;
    }

    private async Task OnSelectedFileChanged(ChangeEventArgs e)
    {
        selectedFilePath = e.Value.ToString();
        markdownContent = null;

        if (!string.IsNullOrEmpty(selectedFilePath))
        {
            try
            {
                string branch = "master";
                if (RepositoryId == "MS-4010-Extend-Microsoft365-Copilot-declarative-agents-VS-Code")
                {
                    branch = "main";
                }

                var markdownApiUrl = $"http://raw.githubusercontent.com/IT-M365-Training/{RepositoryId}/{branch}/{selectedFilePath}";

                Console.WriteLine($"Markdown API URL: {markdownApiUrl}");

                var markdownText = await Http.GetStringAsync(markdownApiUrl);
                markdownContent = Markdig.Markdown.ToHtml(markdownText);
            }
            catch (Exception ex)
            {
                errorMessage = $"Fout bij het ophalen van markdown bestand: {ex.Message}";
                Console.WriteLine($"Fout bij het ophalen van markdown bestand: {ex.Message}");
            }
        }
    }

    public class GitHubContent
    {
        public string Name { get; set; }
        public string Path { get; set; }
        public string Type { get; set; }
        public List<GitHubContent> SubItems { get; set; }
        public string Url { get; set; }
    }
}