@page "/trainer"
@inject HttpClient Http
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject AppDbContext DbContext

<h1>Trainer Dashboard</h1>

<input type="date" @bind="trainingStartDate" />
<input type="number" @bind="linkValidityDays" placeholder="Geldigheid (dagen)" />
<input type="number" @bind="numberOfParticipants" placeholder="Aantal deelnemers" />

@if (repositories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select @onchange="OnSelectedRepositoryChanged">
        <option value="">Selecteer een repository</option>
        @foreach (var repo in repositories)
        {
            <option value="@repo.Name">@repo.Name</option>
        }
    </select>

    @if (!string.IsNullOrEmpty(selectedRepositoryId))
    {
        <p>Geselecteerde repository ID: @selectedRepositoryId</p>

        <button @onclick="GenerateStudentLabs">Maak student labs</button>

        @if (labContent == null && errorMessage == null)
        {
            <p><em>Lab inhoud laden...</em></p>
        }
        else if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="error">@errorMessage</p>
        }
        else
        {
            <h3>Lab inhoud</h3>
            <div class="lab-content">
                @((MarkupString)labContent)
            </div>
        }
    }
}

@code {
    private List<Repository> repositories;
    private string selectedRepositoryId;
    private string labContent;
    private string errorMessage;
    private List<string> generatedLinks = new List<string>();
    private HashSet<int> generatedIds = new HashSet<int>();
    private DateTime trainingStartDate = DateTime.Now;
    private int linkValidityDays = 1;
    private int numberOfParticipants = 5;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            repositories = await GetRepositories();
        }
        catch (Exception ex)
        {
            errorMessage = $"Fout bij het ophalen van repositories: {ex.Message}";
            Console.WriteLine($"Error fetching repositories: {ex.Message}");
        }
    }

    private async Task<List<Repository>> GetRepositories()
    {
        var functionKey = Configuration["FunctionKey"];
        var functionApiKey = Configuration["FunctionApiKey"];
        var url = $"https://m365labfunctions.azurewebsites.net/api/repositories?code={functionApiKey}";
        var repositories = await Http.GetFromJsonAsync<List<Repository>>(url);
        return repositories;
    }

    private async Task OnSelectedRepositoryChanged(ChangeEventArgs e)
    {
        selectedRepositoryId = e.Value.ToString();
        labContent = null;
        errorMessage = null;

        try
        {
            labContent = await GetLabContent();
            labContent = Markdig.Markdown.ToHtml(labContent);
        }
        catch (Exception ex)
        {
            errorMessage = $"Fout bij het ophalen van lab inhoud: {ex.Message}";
            Console.WriteLine($"Fout bij het ophalen van lab inhoud: {ex.Message}");
        }
        StateHasChanged();
    }

    private async Task<string> GetLabContent()
    {
        var functionKey = Configuration["FunctionKey"];
        var functionApiKey = Configuration["FunctionApiKey"];
        var url = $"https://m365labfunctions.azurewebsites.net/api/repositories/{selectedRepositoryId}/content?code={functionApiKey}";
        var labContent = await Http.GetStringAsync(url);
        return labContent;
    }

    private void GenerateStudentLabs()
    {
        if (!string.IsNullOrEmpty(selectedRepositoryId))
        {
            generatedLinks.Clear();
            generatedIds.Clear();

            for (int i = 0; i < numberOfParticipants; i++)
            {
                int uniqueId;
                do
                {
                    uniqueId = new Random().Next(100000, 999999);
                } while (generatedIds.Contains(uniqueId));
                generatedIds.Add(uniqueId);

                var generatedLink = new GeneratedLink
                {
                    UniqueId = uniqueId.ToString(),
                    RepositoryId = selectedRepositoryId,
                    ExpirationDate = trainingStartDate.AddDays(linkValidityDays)
                };

                DbContext.GeneratedLinks.Add(generatedLink);
                DbContext.SaveChanges();

                generatedLinks.Add($"/studentlabs/{uniqueId}/{selectedRepositoryId}?IsStudent=true");
            }

            var linksQuery = string.Join("&link=", generatedLinks);
            var navigationUrl = $"/generatedlinks?link={linksQuery}";

            NavigationManager.NavigateTo(navigationUrl);
        }
    }

    public class Repository
    {
        public string Id { get; set; }
        public string Name { get; set; }
    }
}